# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
CourseDjangoDocs/__pycache__/wsgi.cpython-37.pyc
__pycache__/
polls/__pycache__/
polls/migrations/__pycache__/
